* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	position:  sticky;
	background-color:  white;
	top: 1px;
}

body {
	font-family: 'Open Sans', sans-serif;
}


nav .nav, nav .nav-logo {
	display: inline;
	vertical-align: top;
}


.right-nav {
	text-align: right;
	position: sticky;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

#home {
	padding-left: 2em;
	padding-right: 2rem;
}

#bp {
	padding-left: 2rem;
	padding-right: 2rem;
}

#companies {
	padding-left: 2rem;
	padding-right: 2rem;
}

#bfaq {
	padding-left: 2em;
	padding-right: 2rem;
}

#blog {
	padding-left: 2rem;
	padding-right: 2rem;
}


#logo {
	margin-left: 10rem;
	float: left;
	margin-top: 1rem;
	position: sticky;
}



.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.7rem;
	margin-right: 10rem;
	margin-left: 3rem;
	width: 7%;
	border: none;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	min-height: 40rem;
	background-position: center;
	background-attachment: fixed;
	background-origin: content-box;
	
	
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	min-height: 40rem;
	padding-top: 0.5rem;
}

.title {
	font-family: 'Zilla Slab', serif;
	font-size: 4em;
	text-align: right;
	margin-left: 50rem;
	margin-right: 10rem;

}

.title-2 {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	padding-top: 5rem;
	font-size: 2rem;


}


.subtitle {
	text-align: right;
	font-size: rem;
	margin-left: 75rem;
	margin-top: 2rem;
	margin-right: 10rem;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	text-align: right;
	margin-left: 97rem;
	margin-right: 10rem;
	margin-top: 2rem;
	width: 10%;
	text-align: center;
	border: none;

}

.intro-description {
	margin-top: 5rem;
	margin-left: 26rem;
	margin-right: 26rem;
	margin-bottom: 5rem;
	text-align: justify;
	word-spacing: 2px;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.prefooter-description {
	margin-top: 5rem;
	margin-left: 26rem;
	margin-right: 26rem;
	text-align: center;
}

.book-button {
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	display: block;
	margin: auto;
	margin-top: 2rem;
	width: 10%;
}

footer {
	text-align: center;
}


